<a href="https://colab.research.google.com/github/nww09001/nww09001/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install yfinance

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/a7/ee/315752b9ef281ba83c62aa7ec2e2074f85223da6e7e74efb4d3e11c0f510/yfinance-0.1.59.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading https://files.pythonhosted.org/packages/30/c0/d0526314971fc661b083ab135747dc68446a3022686da8c16d25fcf6ef07/lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3MB)
     |████████████████████████████████| 6.3MB 4.4MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.59-py2.py3-none-any.whl size=23455 sha256=590ec0450f91924f91b2ed1da34ac4d3b3927a97ae08f4f3cb853d1118260c10
  Stored in directory: /root/.cache/pip/wheels/f8/2a/0f/4b5a86e1d52e451757eb6bc17fd899629f0925c777741b6d04
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.59

In [4]:
!pip install yahoofinancials

Collecting yahoofinancials
  Downloading https://files.pythonhosted.org/packages/97/fe/be0f6ea704137848779fc61e7d1c9a901489aaf3423cd7b6f86a350c14c6/yahoofinancials-1.6.tar.gz
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from yahoofinancials) (4.6.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from yahoofinancials) (2018.9)
Building wheels for collected packages: yahoofinancials
  Building wheel for yahoofinancials (setup.py) ... done
  Created wheel for yahoofinancials: filename=yahoofinancials-1.6-cp37-none-any.whl size=15192 sha256=2ce857d8d05e90a13c74a3b0f07cb90d931f0835f528c8aeaff3e6c1e18f0efa
  Stored in directory: /root/.cache/pip/wheels/d9/7e/cf/4977a8572d5247242a4b13018d1d36923024ba84236e0d28bc
Successfully built yahoofinancials
Installing collected packages: yahoofinancials
Successfully installed yahoofinancials-1.6

In [5]:
!pip install requests beautifulsoup4

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)

In [6]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials
from bs4 import BeautifulSoup
import requests

In [7]:
#Extract all tickers from wiki list of S&P 500 tickers
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
html = requests.get(url).text
soup = BeautifulSoup(html, 'lxml')
table = soup.find_all('table')
#The first table is the table of all tickers
wiki_tckr = table[0]
#establish empty table
ticker_table = []
#get all table rows
rows = wiki_tckr.find_all('tr')
#For loop through table rows and extract data to table
for i in rows:
    data = i.find_all_next('td')[0].text
    data = data.replace('\n','')
    ticker_table.append(data)

In [73]:
daily_data = yf.download(ticker_table, start="2021-01-04", end="2021-01-05", rounding=2)
Open = daily_data['Open']
Close = daily_data['Close']
difference = Open-Close
percent_dif = ((Close - Open)/Open)*100

df = pd.DataFrame(percent_dif)

[*********************100%***********************]  505 of 505 completed

3 Failed downloads:
- BRK.B: No data found, symbol may be delisted
- OGN: Data doesn't exist for startDate = 1609718400, endDate = 1609804800
- BF.B: No data found for this date range, symbol may be delisted

                   A       AAL       AAP  ...      ZBRA      ZION       ZTS
Date                                      ...
2021-01-04 -0.252228 -4.542587 -0.354655  ... -1.975373 -0.348189 -1.451807

[1 rows x 505 columns]

In [74]:
#Transpose data to make it easier to work with
df = df.transpose()
df

Date  2021-01-04
A      -0.252228
AAL    -4.542587
AAP    -0.354655
AAPL   -3.078191
ABBV   -1.651428
...          ...
YUM    -2.935241
ZBH    -1.612385
ZBRA   -1.975373
ZION   -0.348189
ZTS    -1.451807

[505 rows x 1 columns]

In [84]:
#sort table by percent drop
Top_drop = df.sort_values(df.columns[0])
#rename column to percent
Top_drop.columns = ['Percent']

In [85]:
Top_tickers = Top_drop[Top_drop.Percent< -5.99]
Top_tickers

       Percent
NCLH -6.390533
MGM  -6.279583
CCL  -6.082949

In [ ]:
#Now take these tickers and see what the price was the next day